@model Competition_Management.Models.Player

@{
    ViewData["Title"] = "Edit";
}

<link href="/css/player_details.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


<h1>Edit this player</h1>


<div class="player-details-container">
    @if (Model.Photo != null)
    {
        <img src="data:image;base64, @Convert.ToBase64String(Model.Photo)" alt="Photo" class="img-fluid" style="padding:5px"/>
    }
    else
    {
        <img src="~/images/nophoto.jpg" alt="Photo" class="img-fluid" style="padding:5px"/>
    }

    <div>
        <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
        <p>@(Model.Team != null ? Html.DisplayFor(modelItem => modelItem.Team.TeamName) : "Free Contract")</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Team" class="control-label"></label>
                <select asp-for="TeamId" name="TeamId" class="form-control" asp-items="ViewBag.TeamDropdown"></select>
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input type="file" asp-for="Photo" class="form-control-file" name="file" value="@ViewBag.MyPhoto" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>*@
            <div class="form-group" style="padding-top:20px">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
