@model Competition_Management.Models.Competition

@{
    ViewData["Title"] = "Edit";
}


<style>
    .image-container {
        width: 150px;
        height: 150px;
        overflow: hidden;
    }

        .image-container img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
</style>

<h1>Edit this competition</h1>

<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
            @if (Model.Logo != null)
            {
                <div class="image-container">
                    <img src="data:image;base64, @Convert.ToBase64String(Model.Logo)" alt="Photo" class="img-fluid" />
                </div>
            }



            <strong style="margin-left:25px">@Model.CompetitionName</strong>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           @* <div class="form-group">
                <label asp-for="CompetitionType" class="control-label"></label>
                <select asp-for="CompetitionTypeNavigation.TipName" class="form-control" asp-items="ViewBag.CompetitionTypeNavigation"></select>
                <span asp-validation-for="CompetitionTypeNavigation.TipName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CompetitionType" class="control-label"></label>
                <select asp-for="CompetitionType" class="form-control" asp-items="ViewBag.CompetitionTypeNavigation"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionName" class="control-label"></label>
                <input asp-for="CompetitionName" class="form-control" />
                <span asp-validation-for="CompetitionName" class="text-danger"></span>
            </div>
         

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
           
            @*<div class="form-group">
                <label>Add new Teams:</label><br />
                @foreach (var team in (IEnumerable<Competition_Management.Models.Team>)ViewData["AllAvailableTeams"])
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="teamCheckbox-@team.Id" name="teamIds" value="@team.Id" />
                        <label class="form-check-label" for="teamCheckbox-@team.Id">@team.TeamName</label>
                    </div>
                }
            </div>*@
            <div class="form-group" style="padding-top:20px">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
            
        </form>
    </div>
</div>

<div class="row" style="padding-top:20px">
    <div class="col-md-4">
        <form asp-action="GenerateGames" asp-controller="Competition" asp-route-id="@Model.Id">
            <div class="form-group">
                <input type="submit" value="Generate Games" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
