@model Competition_Management.Models.Competition

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Competition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           @* <div class="form-group">
                <label asp-for="CompetitionType" class="control-label"></label>
                <select asp-for="CompetitionTypeNavigation.TipName" class="form-control" asp-items="ViewBag.CompetitionTypeNavigation"></select>
                <span asp-validation-for="CompetitionTypeNavigation.TipName" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CompetitionType" class="control-label"></label>
                <select asp-for="CompetitionType" class="form-control" asp-items="ViewBag.CompetitionTypeNavigation"></select>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionName" class="control-label"></label>
                <input asp-for="CompetitionName" class="form-control" />
                <span asp-validation-for="CompetitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input type="file" asp-for="Logo" class="form-control-file" name="file" value="@ViewBag.MyLogo"/>
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label>Add new Teams:</label><br />
                @foreach (var team in (IEnumerable<Competition_Management.Models.Team>)ViewData["AllAvailableTeams"])
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="teamCheckbox-@team.Id" name="teamIds" value="@team.Id" />
                        <label class="form-check-label" for="teamCheckbox-@team.Id">@team.TeamName</label>
                    </div>
                }
            </div>*@
            <div>
               <a asp-action="Create" asp-controller="Game" asp-route-CompId="@Model.Id" asp-area="" class="btn btn-primary">Create New Game</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GenerateGames" asp-controller="Competition" asp-route-id="@Model.Id">
            <div class="form-group">
                <input type="submit" value="Generate Games" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
