@model Competition_Management.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6v8B8s1fek8LGp8gYU4lGJqbsb4MN" crossorigin="anonymous">

<div>
    <h4>Team</h4>
    @if (Model.Sigla != null)
    {
        <img src="data:image;base64, @Convert.ToBase64String(Model.Sigla)" alt="Photo" class="img-fluid" />
    }
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Model.CreatedOn.GetValueOrDefault().Date.ToString("yyyy-MM-dd")
        </dd>
    </dl>
</div>



<h2>
    Players in @Html.DisplayFor(model => model.TeamName)
</h2>


@if (Model.Players.Count > 0)
{
    <div class="row">
        @foreach (var player in Model.Players)
        {
            <div class="col-md-2 mb-4">
                <div class="card">
                    @if(player.Photo != null)
                    {
                        <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
                            <img src="data:image;base64, @Convert.ToBase64String(player.Photo)" class="card-img-top rounded-circle" alt="Player Photo" style="height: 80px; width: 80px; object-fit: cover;" />
                        </div>
                    }
                    
                    <div class="card-body text-center">
                        <h5 class="card-title">@player.LastName @player.FirstName</h5>
                        <p class="card-text">Age: @player.Age</p>
                        <!-- Add other player details as needed -->
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No players available in this team.</p>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
